[submodule "patron-core"]
	path = patron-core
	url = git@github.com:everskyblue/patronjs.git
	branch = lib
[submodule "patron-skeleton"]
	path = patron-skeleton
	url = git@github.com:everskyblue/patronjs.git
	branch = master
[submodule "patron-installer"]
	path = patron-installer
	url = git@github.com:everskyblue/patron-installer.git
	branch = master