<style scope>
    h1 {
        color: red;
    }
</style>


<div>
hola
</div>

<script>
    var tt = 'out';
    
    const is = lists.length !== 0;
    
    async function clickList(e) {
        if (e.type === 'click') {
            try {
                //$data.h1 = 'lista de usuarios'
                const res = await fetch('http://jsonplaceholder.typicode.com/users')
                const u = await res.json()
                $data.lists = u
                console.log($data);/* code */
            } catch (e) {console.log(e)}
        }
    }
</script>